{% extends 'base.html' %}

{% block content %}
    <h1 id="header">Add Quiz</h1>

    <form id="form-container" action="{% url 'add quiz' %}" method="post">
        {% csrf_token %}

        {{ quiz_form }}

            {{ questions_formset.management_form }}
            {% for question_form in questions_formset %}
                <div class="question">
                {{ question_form.as_p }}
                </div>
            {% endfor %}

            {{ answers_formset.management_form }}
            {% for answer_form in answers_formset %}
                <div class="answer">
                    {{ answer_form.as_p }}
                </div>

            {% endfor %}

        <div class="buttons">
            <button id="add-form" type="button">Add Question</button>
            <button type="submit" class="btn btn-danger">Create</button>
        </div>

    </form>
{% endblock %}
