.quiz {
    flex-wrap: wrap; !important;
}

.pagination {
    color: white;
    margin-top: 10px;
    margin-left: 40vw;
}

.pagination a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #4b3ef7;
}

.current {
    font-weight: bold;
    margin-right: 10px;
}

#search_bar {
    display: flex;
}

#search_bar input {
    margin-top: 5px;
    margin-left: 15vw;
}