<div id="wrapper">
    <nav class="w-100pc flex flex-column md-flex-row md-px-10 py-5 bg-black">
        <div class="flex justify-between">
            <a href="#" class="flex items-center p-2 mr-4 no-underline">
                <img class="max-h-l2 w-auto" src=""/>
            </a>
            <a data-toggle="toggle-nav" data-target="#nav-items" href="#"
                class="flex items-center ml-auto md-hidden indigo-lighter opacity-50 hover-opacity-100 ease-300 p-1 m-3">
                <i data-feather="menu"></i>
            </a>
        </div>
        <div id="nav-items" class="flex sm-w-100pc flex-column md-flex md-flex-row md-justify-end items-center">
            <a href="{% url 'home' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Home</a>
            <a href="{% url 'quizzes' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Quizzes</a>
            <a href="{% url 'add quiz' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Add quiz</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' request.user.id %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Profile</a>
                <a href="{% url 'logout' %}" class="button bg-white black fw-600 no-underline mx-5">Sign Out</a>
            {% else %}
                <a href="{% url 'register' %}" class="button bg-white black fw-600 no-underline mx-5">Sign Up</a>
                <a href="{% url 'login' %}" class="button bg-white black fw-600 no-underline mx-5">Sign In</a>
            {% endif %}
        </div>
        </nav>
    </div>
        <div class="dropdown">
            <div class="menuElements">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="dropdown-content">
                <a href="{% url 'home' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Home</a>
            <a href="{% url 'quizzes' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Quizzes</a>
            <a href="{% url 'add quiz' %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Add quiz</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' request.user.id %}" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Profile</a>
                <a href="{% url 'logout' %}" class="button bg-white black fw-600 no-underline mx-5">Sign Out</a>
            {% else %}
                <a href="{% url 'register' %}" class="button bg-white black fw-600 no-underline mx-5">Sign Up</a>
                <a href="{% url 'login' %}" class="button bg-white black fw-600 no-underline mx-5">Sign In</a>
            {% endif %}
            </div>
        </div>