label {
    color: white;
}

form input, select, label {
    display: block;
    border-radius: 5px;
    border-width: 0;
    height: 30px;
    width: 60vw;
}

form button {
    border-radius: 20px;
    border-width: 0;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: #3643c4;
}

.buttons {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-bottom: 100px;
}

#form-container {
    margin: 10vh 20vw 10vh 20vw;
}

@media screen and (max-width: 1000px) {
    .buttons {
        float: none;
        margin-top: 30px;
    }
}